/target
.nexus_master
*.log
src_validate_backup/
sandbox_cache/
voice*.txt
.DS_Store

*_test.log
*.pid
*.err
.rebuild_signal
.nexus_keyfile
.learned_knowledge.json
knowledge.json

*.bak

*.sbx_bak
nexus.db
__pycache__/

start_nexus_*.bat
